 /* CUSTOM PROPS */

 :root {

     --text-color: #111517;
     --body-color: #FAFAFA;
     --box-color: #FFFFFF;
 }

 /* DARK MODE */
 .dark__mode {
     --text-color: #FFFFFF;
     ;
     --body-color: #202C36;
     --box-color: #2B3844;
 }

 /* FONT-FACE*/
 @font-face {
     font-family: 'Nunito Sans';
     font-style: normal;
     font-weight: 300;
     font-display: swap;
     src: url('../fonts/nunito-sans-v8-latin-300.woff2') format('woff2'),
         url('../fonts/nunito-sans-v8-latin-300.woff') format('woff');
 }

 @font-face {
     font-family: 'Nunito Sans';
     font-style: normal;
     font-weight: 400;
     font-display: swap;
     src: url('../fonts/nunito-sans-v8-latin-regular.woff2') format('woff2'),
         url('../fonts/nunito-sans-v8-latin-regular.woff') format('woff');
 }

 @font-face {
     font-family: 'Nunito Sans';
     font-style: normal;
     font-weight: 800;
     font-display: swap;
     src: url('../fonts/nunito-sans-v8-latin-800.woff2') format('woff2'),
         url('../fonts/nunito-sans-v8-latin-800.woff') format('woff');
 }


 /* GLOBAL STYLES */
 html {
     box-sizing: border-box;
     height: 100%;
     scroll-behavior: smooth;
 }

 *,
 *::before,
 *::after {
     box-sizing: inherit;
 }

 a {
     text-decoration: none;
 }

 body {
     display: flex;
     flex-direction: column;
     height: 100%;
     font-family: 'Nunito Sans', Arial, sans-serif;
     margin: 0;
     padding: 0;
     font-size: 14px;
     line-height: 16px;
     color: var(--text-color);
     background-color: var(--body-color);
     transition: body-color .4s ease-in-out,
         color .4s ease;
 }

 img {
     max-width: 100%;
     height: auto;
 }

 /* CONTAINER */
 .container {
     width: 100%;
     max-width: 1320px;
     padding-left: 20px;
     padding-right: 20px;
     margin-left: auto;
     margin-right: auto;
 }

 /* HEADER */
 .header {
     padding-top: 23px;
     padding-bottom: 23px;
     background-color: var(--box-color);
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
     white-space: nowrap;
 }

 .header-container {
     display: flex;
     justify-content: space-between;
 }

 .header__logo {
     font-weight: 800;
     font-size: 24px;
     line-height: 33px;
     color: var(--text-color);
     display: flex;
 }

 .header__logo:hover {
     opacity: 0.8
 }

 .header__logo:active {
     opacity: 0.6
 }

 .header__theme-change-btn {
     border: 0;
     background-color: transparent;
     cursor: pointer;
     color: var(--text-color);
 }

 .header__theme-change-btn:hover {
     opacity: 0.8;
 }

 .header__theme-change-btn:active {
     opacity: 0.6;
 }

 .header__theme-change-btn__inner {
     display: flex;
     align-items: center;
 }

 .btn__icon {
     display: block;
     width: 20px;
     height: 20px;
 }

 .btn__text {
     margin-left: 10px;
     font-weight: 600;
     font-size: 16px;
     line-height: 22px;
     color: var(--text-color);
 }


 /* MAIN-CONTENT */

 .main-content {
     flex-grow: 1;
     padding-top: 48px;
     padding-bottom: 48px;
 }

 /* SEARCH */

 .form {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 48px;
 }

 .search-navbar {
     position: relative;
 }

 .search-navbar__icon {
     color: inherit;
     position: absolute;
     top: 20px;
     left: 34px;
 }


 .search-navbar__input {
     border-radius: 5px;
     border: 0;
     min-width: 480px;
     line-height: 20px;
     color: #848484;
     padding: 18px 74px;
     background-color: var(--box-color);
     box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.05);
 }

 /* OPTION */
 .search-navbar__select {
     border-radius: 5px;
     border: 0;
     min-width: 200px;
     line-height: 20px;
     color: var(--text-color);
     padding: 18px 24px;
     background-color: var(--box-color);
     box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.05);
 }

 /*COUNTRIES  */
 .countries {
     display: flex;
     /* justify-content: space-between; */
     flex-wrap: wrap;
     margin-left: -75px;
     margin-bottom: -75px;
 }

 .country {
     width: calc(25% - 75px);
     margin-left: 75px;
     background-color: var(--box-color);
     box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
     border-radius: 8px;
     margin-bottom: 75px;
     overflow: hidden;
 }

 .country__flag {
     width: 100%;
     height: 160px;
     display: block;
     object-fit: cover;
     border-radius: 5px;
 }

 .country__info {
     padding: 24px 24px 46px;
 }

 .country__name {
     margin: 0;
     margin-bottom: 16px;
     font-weight: 800;
     font-size: 18px;
     line-height: 26px;
     color: var(--text-color);
 }

 .country__population {
     display: block;
     font-weight: 600;
     color: var(--text-color);
     margin-bottom: 8px;
 }

 .country__region {
     display: block;
     font-weight: 600;
     color: var(--text-color);
     margin-bottom: 8px;
 }

 .country__capital {
     display: block;
     font-weight: 600;
     color: var(--text-color);
 }


 /* ------------------------------ */
 /* COUNTRY.HTML */
 /* -------------------------------- */


 .main-content__inner {
     margin-bottom: 80px;
 }

 /* BACK BUTTON */

 .back__button {
     margin-bottom: 80px;
     background-color: var(--box-color);
     border: 0;
     color: var(--text-color);
     padding: 10px 39px 10px 33px;
     display: inline-flex;
     align-items: center;
     box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
     border-radius: 6px;
 }

 .back__button:hover {
     opacity: 0.8;
 }

 .back__button:hover {
     opacity: 0.6;
 }

 .back__button__icon {
     width: 20px;
     height: 13px;
 }

 .back__button__text {
     margin-left: 11px;
     font-weight: 300;
     font-size: 16px;
     line-height: 20px;
 }

 .single-country {
     display: flex;
 }

 .single-country__img {
     background-color: #808080;
     box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.03);
     border-radius: 10px;
     width: 560px;
     height: 400px;
     object-fit: cover;
     margin-right: 120px;
 }

 .single-country__info {
     width: 600px;
     padding-top: 20px;
 }

 .single-country__info__title {
     margin: 0;
     margin-bottom: 23px;
     font-weight: 800;
     font-size: 32px;
     line-height: 44px;
     color: var(--text-color);
 }

 /* COUNTRY INFO */
 .single-country__info__wrapper {

     display: flex;
     text-align: center;
     justify-content: space-between;
     margin-bottom: 72px;
 }

 .single-country__info__details {
     width: 250px;
 }

 .single-country__info__details__item {
     text-align: left;
     font-weight: 600;
     font-size: 16px;
     line-height: 32px;
     color: var(--text-color)
 }

 /* BORDER COUNTRIES */

 .border-countries {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
 }

 .border-countries__title {
     font-weight: 600;
     font-size: 16px;
     line-height: 24px;
     margin: 0;
     margin-right: 15px;
     color: var(--text-color);
 }

 .border-countries__wrapper {
     display: flex;
 }

 .border-countries__link {
     background-color: var(--box-color);
     box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
     border-radius: 2px;
     color: var(--text-color);
     font-weight: 300;
     font-size: 14px;
     line-height: 19px;
     padding: 5px 28px;
     margin-right: 10px;
     min-width:96px;
     text-align: center;
     margin-top: 4px;
     margin-bottom: 4px;
 }

 .border-countries__link:hover {
     opacity: 0.8;
 }

 .border-countries__link:active {
     opacity: 0.6;
 }